footer {
  position: fixed;
  bottom: 0;
  color: #fff; 
  font-size: 12px;
  width: 100%;
}

#home {
  background-image: url(./assets/img/coding-bg.jpg);
}

body {
  /* background-color: #ffffe0; */
  background-color: #252525;
  color: #fff;
}
header {
  /* border-bottom: 5px solid #600080; */
  background-color: #101010;
  margin-bottom: .5rem;
}

footer {
  background-color: #101010;
  height: 45px;
  /* border-top: 5px solid #9685b6 ; */
  border-top: 5px solid #600080;
  padding-top: 5px;
  margin-top: .5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

form {
  color: #000;
  background-color: white;
  margin: 1rem;
  border: 3px solid gray;
  border-radius: 5%;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

label {
  font-weight: bold;
}

.h1 {
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
}

h2 {
  font-family: 'Pacifico', cursive;
}

.navbar {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.card {
  /* background-color: #bfb5d3; */
  background-color: #252525;
  /* margin-right: .5rem; */
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  border: none;
}

.card-text {
  color: #fff;
  font-weight: bolder;
}

.card-img-top {
  background-color: #9685B6;
  /* width: 100%; */
  /* height: auto; */
  background-repeat: no-repeat;
  /* border: 1px solid black; */
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
}

/* cfaecf lilac*/ 
/* 343a40 dark grey BS*/

.scroll .hero {
  transform: scale(0.98);
}
 
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}
 
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
 
.hero .container-fluid {
  z-index: 10;
}